$midnightBlue: #191970;
$scarlet: #ff2400;
$fastTransition: 0.5s cubic-bezier(.55,.05,0,.9);
$slowTransition: 1s cubic-bezier(.55,.05,0,.9);
$golden: rgba(208, 196, 16, 0.85);
$coolPurple: rgba(92, 14, 144, 0.85);
$mobile: 768px;
$twitterColor: #55ACEE;
$linkedinColor: #007bb5;
$instagramColor: #ea4c89;
$youtubeColor: #bb0000;
$mysteriousBlack: rgb(16, 8, 24);